@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Science Gothic';
}

:root {
    --color_fondo: #24283B;
    --color_boton: #9D7CD8;
    --color_usuario: #89DDFF;
    --color_frase: #C0BDC5;
}

body {
    text-align: center;
    background-color: var(--color_fondo);
}

.inicio {
    display: block;
    margin-top: 20%;
}

.datos {
    display: none;
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}

.salida {
    display: none;
    margin-top: 20%;
}

.boton {
    background-color: var(--color_boton);
    color: whitesmoke;
    padding: 3%;
    border-radius: 12px;
    border: red solid 0px;
    font-weight: bold;
    margin-top: 15px;
}

.texto {
    color: var(--color_frase);
}

footer {
    background-color: whitesmoke;
    border-radius: 12px;
    border: var(--color_boton) solid 3px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}

.foto {
    background-color: whitesmoke;
    border: var(--color_boton) solid 5px;
    border-radius: 100%;
    width: 40%;
    margin: 0 auto;

}

.nombre-usuario {
    color: var(--color_usuario);
    font-weight: bold;
}

.entrada {
    border-radius: 8px;
    padding: 3%;
    margin-top: 5px;
}